<div class="row">
    {{#each datos }}
    <div class="col col-3 m-5">
        <div class="card" style="width:400px;">
            <div style="text-align: center;">
                <img class="card-img-top" src="{{foto}}" alt="Card image" style="width: 350px; height: 400px;">
                <div class="card-body">
                    <h4 class="card-title"><a href="{{foto}}">{{nombre}} </a> </h4>
                    <p class="card-text">{{marca}}</p>
                    <p class="card-text">$ {{precio}}</p>
                    <p class="card-text">{{tipo}}</p>
                    <p class="card-text">{{cantidad}} ml </p>
                    <!-- Button trigger modal -->
                    <a class="btn btn-primary" href="/modificar/{{_id}}" role="button">Modificar</a>
                    <!-- Button trigger modal -->
                    <a class="btn btn-danger" href="#modal1" role="button" data-toggle="modal"> Eliminar </a>
                    <div class="modal fade" id="modal1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-tittle"> Confirmación </h3>
                                    <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;
                                    </button>
                                    
                                </div>
                                <div class="modal-body">
                                    <p>¿Está seguro de eliminar el elemento {{nombre}}?</p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" href="/eliminar/{{_id}}" role="button"
                                        data-toggle="modal1">Eliminar</a>
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>